# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteBase /
#     RewriteRule ^index\.php$ - [L]
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteRule . /index.php [L]
# </IfModule>


<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Remove .php extension from files
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php [L]
    
    # Redirect to PHP if pretty URL requested
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(about|course|webinar|blog|contactus|Academy's_Newsletter|publication|important_links|glossary|media|videos)$ $1.php [NC,L]
    
    # Make sure index.php is accessible directly
    RewriteRule ^index$ index.php [L]
</IfModule>